.add-task {
  --addTaskSvgColor: var(--slate-grey);
  --addTaskInputColor: var(--background-color-dark);

  position: relative;
  max-width: var(--container-width);
  width: 100%;
  margin-bottom: 25px;
  padding: 7px 14px;
  padding-right: 35px;
  overflow: hidden;
  background-color: var(--color-light);
  border: var(--border-light);
  border-radius: var(--border-radius-large);

  @include mobile {
    position: fixed;
    bottom: 10px;
    margin-bottom: 0;
  }

  @include mobile-s {
    max-width: calc(100vw - var(--container-padding-x) * 2);
    translate: 0 0;
  }

  &:focus-within {
    --addTaskSvgColor: var(--color-dark-alt);
  }

  &--dark:focus-within {
    --addTaskSvgColor: var(--neutral-grey);
  }

  &--dark {
    --addTaskInputColor: var(--neutral-grey);

    background-color: var(--color-background-dark-theme);
    border: 2px solid var(--color-dark-alt);
  }

  &__input {
    width: 100%;
    height: 100%;
    font-weight: 500;
    color: var(--addTaskInputColor);
    background-color: transparent;
    border: none;
    outline: none;
  }

  &__button {
    @include reset-button;
    @include center-content(true);
    @include hover-effect;

    position: absolute;
    top: 50%;
    right: 6px;
    translate: 0 -50%;

    &.is-disabled {
      --addTaskSvgColor: var(--slate-grey);

      cursor: auto;

      &:hover {
        opacity: 1;
      }
    }

    svg {
      width: 24px;
      height: 24px;
      color: var(--addTaskSvgColor);
      transition-property: color;
      transition-duration: var(--transition-duration);
    }
  }
}
