.divider {
  width: 100%;
  height: 0.5px;
  margin-block: 5px;
  background-color: var(--color-light-alt);
  border: none !important;
  
  &--offset-left {
    margin-left: 35px;
    width: calc(100% - 35px);
  }

  &--offset-bottom {
    margin-bottom: 15px;
  }

  &--dark {
    background-color: var(--color-dark-alt);
  }
}
