.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
  margin-bottom: 20px;
  user-select: none;

  @include mobile {
    margin-bottom: 10px;
  }
}
