.notes {
  --notesColor: var(--background-color-dark);
  --notesBorderBottom: var(--border-divider-light);

  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-bottom: 0px;
  padding-bottom: 5px;
  color: var(--notesColor);
  overflow: hidden;

  &--dark {
    --notesColor: var(--muted-blue);
    --notesBorderBottom: var(--border-divider-dark);
  }

  &__label {
    font-size: 16px;
    user-select: none;
  }

  &__field {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    line-height: 20px;
    font-size: 14px;
    background-color: transparent;
    color: inherit;
  }
}
