/** box model tweak */
*,
::before,
::after {
  box-sizing: border-box;
}

/** List elements with class have no padding-left */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/inter-regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/inter-medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/inter-bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/inter-extra-bold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #ffffff;
  --color-light-alt: #ebebeb;
  --color-dark: #000;
  --color-dark-alt: #29292f;
  --color-background-dark-theme: #141419;
  --muted-blue: #9494b8;
  --slate-grey: #575767;
  --stone-grey: #666666;
  --neutral-grey: #dadada;
  --grey-blue: #a8a8b4;
  --cool-gray-dark: #7d7d94;
  --background-color-dark: #1e1f25;
  --background-color-dark-alt: #24242d;
  --background-color-soft-blue: #f2f3ff;
  --background-light: linear-gradient(to right, #fcfcfc 0%, #f8f8f8 100%);
  --background-dark: linear-gradient(to right, #2b2d37 0%, #262933 100%);
  --border-light: 2px solid var(--neutral-grey);
  --border-light-grey: 1px solid var(--color-light-alt);
  --border-dark: 2px solid #0e0e11;
  --border-dark-grey: 1px solid var(--color-dark-alt);
  --border-divider-light: 1px solid var(--color-light-alt);
  --border-divider-dark: 1px solid var(--color-dark-alt);
  --border-radius: 5px;
  --border-radius-alt: 6px;
  --border-radius-large: 20px;
  --font-family: "Inter", sans-serif;
  --container-width: 505px;
  --container-padding-x: 10px;
  --checkmark-size: 24px;
  --transition-duration: 0.2s;
}
@media (max-width: 1023px) {
  :root {
    --checkmark-size: 28px;
  }
}
@media (max-width: 767px) {
  :root {
    --container-width: 465px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.hover-effect {
  transition-property: opacity;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .hover-effect:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .hover-effect:active {
    opacity: 0.7;
  }
}

.sandbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(16px, 0.9375vw, 18px);
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 1.24;
  color: var(--slate-grey);
  background-color: var(--color-light);
}
body.is-dark {
  background-color: var(--color-background-dark-theme);
}
body.is-dark h1 {
  color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  line-height: 1;
  color: var(--color-dark);
}

h1,
.h1 {
  font-size: clamp(36px, 2.9166666667vw, 56px);
}

h2,
.h2 {
  font-size: clamp(20px, 1.25vw, 24px);
  font-weight: 500;
}

h3,
.h3 {
  font-size: 16px;
  font-weight: 700;
}

.App {
  padding: 20px 10px;
}
@media (min-width: 768px) {
  .App {
    padding: 64px 10px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-bottom: 35px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 767px) {
  .header {
    margin-bottom: 10px;
  }
}

.notes {
  --notesColor: var(--slate-grey);
  --notesBorderBottom: var(--border-divider-light);
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-bottom: 22px;
  padding-bottom: 15px;
  color: var(--notesColor);
  border-bottom: var(--notesBorderBottom);
  overflow: hidden;
}
@media (max-width: 767px) {
  .notes {
    margin-bottom: 15px;
  }
}
.notes--dark {
  --notesColor: var(--muted-blue);
  --notesBorderBottom: var(--border-divider-dark);
}
.notes__label {
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.notes__field {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  line-height: 20px;
  font-size: 14px;
  background-color: transparent;
  color: inherit;
}

.task-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.add-task {
  --addTaskSvgColor: var(--slate-grey);
  --addTaskInputColor: var(--color-dark);
  position: fixed;
  bottom: 10px;
  max-width: var(--container-width);
  width: 100%;
  padding: 8px 15px;
  padding-right: 35px;
  overflow: hidden;
  background-color: var(--color-light);
  border: var(--border-light);
  border-radius: var(--border-radius-large);
}
@media (max-width: 480px) {
  .add-task {
    max-width: calc(100vw - var(--container-padding-x) * 2);
    translate: 0 0;
  }
}
.add-task:focus-within {
  --addTaskSvgColor: var(--color-dark);
}
.add-task--dark:focus-within {
  --addTaskSvgColor: var(--neutral-grey);
}
.add-task--dark {
  --addTaskInputColor: var(--neutral-grey);
  background-color: var(--color-background-dark-theme);
  border: 2px solid var(--color-dark-alt);
}
.add-task__input {
  width: 100%;
  height: 100%;
  font-weight: 500;
  color: var(--addTaskInputColor);
  background-color: transparent;
  border: none;
  outline: none;
}
.add-task__button {
  padding: 0;
  background-color: transparent;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition-property: opacity;
  transition-duration: var(--transition-duration);
  position: absolute;
  top: 50%;
  right: 10px;
  translate: 0 -50%;
}
@media (hover: hover) {
  .add-task__button:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .add-task__button:active {
    opacity: 0.7;
  }
}
.add-task__button.is-disabled {
  --addTaskSvgColor: var(--slate-grey);
  cursor: auto;
}
.add-task__button.is-disabled:hover {
  opacity: 1;
}
.add-task__button svg {
  width: 22px;
  height: 22px;
  color: var(--addTaskSvgColor);
  transition-property: color;
  transition-duration: var(--transition-duration);
}

.task {
  --checkmarkTickDisplay: none;
  --checkmarkBackground: none;
  --checkmarkBorder: var(--border-light);
  --checkmarkTickColor: var(--slate-grey);
  --taskTextColor: var(--slate-grey);
  --taskTextAreaBackgroundColor: var(--background-color-textarea-light);
  --taskAfterBackgroundColor: var(--color-light-alt);
  position: relative;
  display: flex;
  align-items: start;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-block: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 767px) {
  .task {
    padding-block: 8px;
  }
}
.task--dark {
  --checkmarkBackground: var(--background-dark);
  --checkmarkBorder: var(--border-dark);
  --taskTextColor: var(--neutral-grey);
  --checkmarkTickColor: var(--neutral-grey);
  --taskTextAreaBackgroundColor: var(--background-color-textarea-dark);
  --taskAfterBackgroundColor: var(--color-dark-alt);
}
.task--dark.is-completed .task__text {
  color: var(--cool-gray-dark);
}
.task.is-disabled {
  pointer-events: none;
}
.task.is-completed {
  --checkmarkTickDisplay: block;
  --taskTextColor: var(--grey-blue);
  animation: fade var(--transition-duration) 1s forwards;
}
.task__checkmark {
  padding: 0;
  background-color: transparent;
  border: none;
  width: var(--checkmark-size);
  aspect-ratio: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.task__checkbox {
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: var(--checkmarkBorder);
  background: var(--checkmarkBackground);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition-duration: 0s;
}
.task__tick {
  width: 40%;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: var(--checkmarkTickDisplay);
  fill: none;
  cursor: pointer;
  color: var(--checkmarkTickColor);
}
.task__textarea {
  width: 100%;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  background-color: transparent;
  color: inherit;
  color: var(--taskTextColor);
  border: none;
  outline: none;
  resize: none;
}

@keyframes fade {
  0% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
.theme-toggle {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 56px;
  aspect-ratio: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  --themeToggleBackgroundColor: var(--background-color-soft-blue);
  --themeToggleBorder: var(--border-light-grey);
  background-color: var(--themeToggleBackgroundColor);
  border: var(--themeToggleBorder);
  border-radius: var(--border-radius-alt);
}
.theme-toggle--dark {
  --themeToggleBackgroundColor: var(--background-color-dark-alt);
  --themeToggleBorder: var(--border-dark-grey);
}
.theme-toggle--dark svg {
  color: var(--color-light);
}
.theme-toggle svg {
  width: 24px;
  height: 24px;
}

.hr {
  --hrOffsetLeft: 32px;
  margin-block: 0;
  margin-left: var(--hrOffsetLeft);
  border: none !important;
  border-top: 0.5px solid var(--color-light-alt) !important;
}
@media (max-width: 1023px) {
  .hr {
    --hrOffsetLeft: 38px;
  }
}
.hr--dark {
  border-top: 0.5px solid var(--color-dark-alt) !important;
}

.no-tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 20px;
  color: var(--muted-blue);
}
.no-tasks--dark {
  color: var(--slate-grey);
}/*# sourceMappingURL=styles.css.map */