@import 
  "normalize", 
  "fonts", 
  "mixins", 
  "media", 
  "variables", 
  "utils", 
  "globals";

@import 
  "blocks/App", 
  "blocks/header", 
  "blocks/notes",
  "blocks/task-list", 
  "blocks/add-task", 
  "blocks/task", 
  "blocks/theme-toggle", 
  "blocks/divider",
  "blocks/no-tasks";
